body {
  --pegaeus: #645482;
  --pegaeus-light: #dacfee;
  --h: 25px;
  margin: 0;
  margin-top: var(--h);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

div.top-bar {
  font-family: "SF Pro";
  background: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 0.8em;
  cursor: default;
}
.top-bar > div {
  display: flex;
  align-items: center;
  height: var(--h);
  line-height: calc(0.7 * var(--h));
  font-size: calc(0.5 * var(--h));
}
.top-bar span {
  padding: 0 0.8em;
}
.top-bar span:first-of-type {
  font-family: "SF Pro";
  font-weight: 600;
}
.top-bar svg {
  height: 1em;
  padding: 0 0.8em;
  fill: white;
}
.top-bar svg:nth-of-type(n + 2) {
  float: right;
}

pages-display {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
pages-display .loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--pegaeus-light);
  opacity:var(--fade-factor);
  z-index: 1000;
}

my-loader {
  --scale-factor: 1;
}
my-loader svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(var(--scale-factor) * 30vmin);
  fill: var(--pegaeus);
}


.btn {
  padding: 0.3em;
  background: var(--pegaeus);
  margin: 1em;
  cursor: pointer;
  border-radius: 0.5em;
  color: white;
}

login-form {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--pegaeus-light);
}
login-form h1 {
  text-align: center;
  color: var(--pegaeus);
}
login-form > div {
  box-shadow: 0px 0px 5px white;
  padding: 3em;
  border-radius: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
login-form > div > div {
  padding: 0.3em 0;
}
login-form input {
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: 1px solid black;
  font-size: 1em;
  border-radius: 0.5em;
  padding: 0.25em;
}
login-form td:first-of-type {
  text-align: right;
}
login-form .forgot {
  cursor: pointer;
}
