body {
  --pegaeus: #645482;
  --pegaeus-light: #dacfee;
  --pegaeus-lighter: #f3f0f8;
  --h: 25px;
  margin: 0;
  margin-top: var(--h);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

div.top-bar {
  font-family: "SF Pro";
  background: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 0.8em;
  cursor: default;
  height: var(--h);
  font-size: calc(0.5 * var(--h));
}

.top-bar > div {
  display: flex;
  align-items: center;
  height: 100%;
}
.top-bar span {
  padding: 0 0.8em;
}
.top-bar span:first-of-type {
  font-family: "SF Pro";
  font-weight: 600;
}
.top-bar svg {
  height: 1em;
  padding: 0 0.8em;
  fill: white;
}
.top-bar svg:nth-of-type(n + 2) {
  float: right;
}

pages-display {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
pages-display .loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--pegaeus-light);
  opacity:var(--fade-factor);
  z-index: 1000;
}
pages-display .window {
  width: 100%;
  height: 100%;
}

my-loader {
  --scale-factor: 1;
}
my-loader svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(var(--scale-factor) * 30vmin);
  fill: var(--pegaeus);
}



.btn {
  padding: 0 0.4em;
  background: var(--pegaeus);
  margin: 1em;
  cursor: pointer;
  border-radius: 0.5em;
  color: white;
  line-height: 1.8em;
  height: 1.8em;
}

login-form {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--pegaeus-light);
}
login-form h1 {
  text-align: center;
  color: var(--pegaeus);
}
login-form > div {
  box-shadow: 0px 0px 5px white;
  padding: 3em;
  border-radius: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
login-form > div > div {
  padding: 0.3em 0;
}
login-form input {
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: 1px solid black;
  font-size: 1em;
  border-radius: 0.5em;
  padding: 0.25em;
}
login-form td:first-of-type {
  text-align: right;
}
login-form .forgot {
  cursor: pointer;
}

.control-bar > div {
  display: flex;
  align-items: center;
  height: 3em;
}
.control-bar {
  height: 3em;
  border-bottom: 1px solid var(--pegaeus);
}
.control-bar > div > span {
  margin: 0.75em;
}

v-messages {
  margin: 1em;
  display: block;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  position: relative;
}

v-messages .messages {
  display: flex;
  flex-direction: column;
  width: 100%;
}

v-messages .add-message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5em;
  display: flex;
}

.add-message .btn {
  margin-top: 0;
}
.add-message textarea {
  outline: none;
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 0.5em;
  width: 90%;
  height: calc(100% - 2px - 1em);
  resize: none;
}



v-messages .message-content {

  padding: 0.3em;
  border-radius: 0.5em;
  border: 1px solid var(--pegaeus);
}
v-messages .message-name {
  padding: 0.3em;
}

v-messages .messages > div {
  display: flex;
  flex-direction: column;

}
v-messages .messages > div > div {
  display: flex;
  max-width: 60%;
  min-width: 50%;
  align-items: flex-start;
}
v-messages .messages > div > p{
  margin: 0.1em 0;
  font-size: 0.85em;
  opacity: 0.5;
  display: none;
}

v-messages .messages > div.from:last-of-type p{
  display: block;
}

v-messages .from .message-content {
  background: var(--pegaeus);
  color: white;
}
v-messages .from {
  align-items: flex-end;
}
v-messages .from > div {
  justify-content: flex-end;
}

.from + .from, .to + .to {
  margin-top: 0.3em;
}
.to + .to .message-name, .from + .from .message-name{
  color: transparent;
}


app-panel .main-tools{
  height: calc(100% - 3em);
  display: flex;
}
app-panel .main-tools > div:first-of-type {
  width: 30%;
}
app-panel .main-tools > div:last-of-type {
  width: 70%;
}


v-contacts {
  width: 100%;
  height: 100%;
  display: flex;
}
v-contacts > div {
  width: 50%;
  height: 100%;
  border-right: 1px solid var(--pegaeus);
  cursor: pointer;
}
v-contacts > div > div {
  width: 100%;
  height: calc(100% - 2em);
}
v-contacts > div > p {
  height: 2em;
  padding: 0 0.5em;
  margin: 0;
  line-height: 2em;
  background: var(--pegaeus-lighter);
}
v-contacts .contact {
  padding: 0.5em;
  border-bottom: 1px solid var(--pegaeus);
}
v-contacts .contact[selected='true'] {
  background: var(--pegaeus-light);
}

.contact-form {
  padding: 0.5em;
  border-bottom: 1px solid var(--pegaeus);
  border-right: 1px solid var(--pegaeus);
  display: flex;
  flex-direction: column;
}

.contact-form > div{
  display: flex;
  align-items: center;
  position: relative;
}
.contact-form div:nth-of-type(n+2) {
  margin-top: 0.5em;
}
.contact-form span {opacity: 0.65;}
.contact-form input{
  outline: none;
  border: none;
  font-size: 1em;
  padding-left: 0.5em;
}
.contact-form .btn {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  background: var(--pegaeus-light);
  color: var(--pegaeus);
  line-height: 1.5em;
}
